
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    今年是: @DateTime.Now.Year 年
</div>

<div>
    我的名字是 @ViewData["Name"]
</div>

<div>
    可愛的 @ViewBag.Name
</div>

<div>
    我今年 @TempData["Age"]

</div>

