
@{
    ViewBag.Title = "ShowTempData";
}

<h2>ShowTempData</h2>

<div>
    [使用ViewData傳遞] @ViewData["Name"]
    <br>
    [使用ViewBag傳遞]  @ViewBag.Name
    <br>
    [使用TempData傳遞] @TempData["Age"]
</div>

